.container{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    width: 100%;
   
}
.header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{

    display: flex;
    flex: wrap;
    padding: 30px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}
.subcontent{
    width: 326px;
    height: 76px;
    background-color: white;
    border-radius: 10px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.subcontent:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
}
.image{
    width: 30px;
    height: 38px;
    margin-right: 95px;
    position: absolute;
}
.image1{
    width: 45px;
    height: 40px;
    margin-right: 95px;
    position: absolute;
}
.image2{
    width: 32px;
    height: 28px;
    margin-right: 95px;
    position: absolute;
}
.description{
    margin-left: 60px;
}
.description1{
    margin-left: 45px;
}