.container{
    padding: 60px;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}
.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    margin-top: 50px;
    background-color: #799EC9;
    width: 90% ;
    height: 261px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 5px 5px #e1dfe3;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.box:hover {
    transform: translateY(-5px); 
    box-shadow: 5px 15px #bfbcc4; 
  }
.heading{
    padding: 10px;
    color: white;
    font-size: 23px;
}

.description{
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    
}
.sentimental{
    margin-top: 10px;
}

@media (max-width: 768px){
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .box{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120%;
        margin-right: 25px;
        gap:15px;
    }
    .heading{
        font-size: 18px;
    }
    .description{
       font-size: 10px;
       margin-bottom: 10px;
    }
    .chatgpt{
        margin-top: 5px;
        width: 45%;
        height: 70%;
    }
    .sentimental{
        margin-top: 30px;
        width: 45%;
        height: 70%;
    }
}